/*~~~~~~~~~~~~~~~~~~ Common Styles for both index.html and images.html~~~~~~~~~~~~~~~~~~~~~~ */

body {
    text-align: center;
    margin: 0;
}

/*Style for navigation section*/
.nav {
    width: 100%;
    text-align: right;
    margin: 22px 0 6px;
}

ul {
    margin: 0;
    padding-right: 20px;
}

ul li {
    display: inline;
    list-style-type: none;
    padding-top: 10px;
}

a {
    color: rgba(0,0,0,0.87);
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
    padding: 0 10px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*Google Image*/
img {
    padding-top: 109px;
}

/* common style for search-box for both index.html and images.html*/
.box {
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
    text-align: left;
}

/* Spacing of search elements */
.search-elements {
    padding: 5px 8px 0 14px;
}

.box:hover {
    box-shadow: 0 0 5px #dfe1e5;
}


/* left search-icon style for both index.html and images.html */
.fas.left {
    color: #9AA0A6;
    font-size: 13px;
    padding-right: 13px;
}

/* text-box style for both index.html and styles.html */
.search-input {
    border: none;
    font-family: arial;
    font-size: 16px;
    font-weight: 200;
}

.search-input:focus {
    border: none;
    outline: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Style for index.html~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* div containing search-control elements */
.search-controls {
    padding-top: 24px;
}

/* Dimension of search-box */
.search-box {
    width: 584px;
    height: 46px;
}

/* Dimension of text-box for index.html*/
.query-search {
    height: 34px;
    width: 487px;
}

/* Buttons */
.btn {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    line-height: 27px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
}

.btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.btn:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Style for images page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.image-search-box {
    width: 536px;
    height: 46px;
}

.fas.right {
    color: #4285F4;
    font-size: 15px;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
}

.image-search {
    height: 34px;
    width: 440px;
}

.logo-subtitle {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    display: block;
    cursor: default;
    position: relative;
    bottom: 20px;
    padding-left: 210px;
}

.image-search-box {
    height: 46px;
    width: 536px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
    text-align: left;
}
